<header class="hero is-{% if page.header.color %}{{page.header.color}}{% else %}primary{% endif %} {% if page.header.gradient %}is-bold{% endif %} is-{% if page.header.size %}{{page.header.size}}{% else %}fullheight{% endif %}" {% if page.header.particles %}id="particles-js"{% endif %}>
  
  {% if page.header.particles %}<script src="{{ site.url }}{{ site.baseurl }}/assets/particles.json"></script>{% endif %}
  

  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    {% include navigation.html%}
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        {% if page.title %}{{ page.title }} {% else %} {{ site.title}} {% endif %}
      </h1>
      <h2 class="subtitle">
        {% if page.subtitle %}{{ page.subtitle }} {% else %} {{ site.subtitle}} {% endif %}
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    {% include page-section-tabs.html %}
  </div>
</header>