<header class="hero is-{% if page.header.color %}{{page.header.color}}{% else %}primary{% endif %} {% if page.header.gradient %}is-bold{% endif %} is-{% if page.header.size %}{{page.header.size}}{% else %}fullheight{% endif %}" {% if page.header.particles %}id="particles-js"{% endif %}>
  
  {% if page.header.particles %}<script src="{{site.url}}/assets/particles.json"></script>{% endif %}
  

  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar"  role="navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{site.url}}">
            {% if site.logo %}<img src="{{ site.logo }}" alt="Logo">{% else %}{{ site.title }}{% endif %}
          </a>
          <span class="navbar-burger burger has-text-white" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end" id="main-menu">
              {% for item in site.main_nav %}
              {%if item.button %}
              <span class="navbar-item">
                  <a class="button is-{% if page.header.color %}{{page.header.color}}{% else %}primary{% endif %} is-inverted {% if item.url == page.url %}is-active{% endif %}"  href="{% if item.external %} {{ item.url }} {% else %} {{ site.url }}{{site.baseurl}}{{ item.url}} {% endif %}">
                    {% if item.icon %}
                    <span class="icon">
                      <i class="{{ item.icon}}"></i>
                    </span>
                    {% endif %}
                    <span>{{ item.title }}</span>
                  </a>
                </span>
              {% else %}
              <a class="navbar-item {% if item.url == page.url %}is-active{% endif %} {% if item.inverted == true %}is-inverted{% endif %}" href="{% if item.external %} {{ item.url }} {% else %} {{ site.url }}{{site.baseurl}}{{ item.url}} {% endif %}">
                  {{ item.title }}
              </a>
              {% endif %}
              {% endfor %}
              <!-- <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless is-{% if page.header.color %}{{page.header.color}}{% else %}primary{% endif %}">
                  More
                </a>
        
                <div class="navbar-dropdown has-text-{% if page.header.color %}{{page.header.color}}{% else %}primary{% endif %}">
                  <a class="navbar-item">
                    About
                  </a>
                  <a class="navbar-item">
                    Jobs
                  </a>
                  <a class="navbar-item">
                    Contact
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item">
                    Report an issue
                  </a>
                </div>
              </div> -->
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1-desktop">
        {% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}
      </h1>
      <h2 class="subtitle is-size-4-desktop">
        {% if page.subtitle %} {{ page.subtitle }} {% else %} {{ site.subtitle }} {% endif %}
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    {% assign tabCounter = 0 %}
    {% if page.tabs %}
    <nav class="tabs is-boxed is-centered">
      <div class="container">
        <ul id="main-tabs-list">
          {% for tab in page.tabs %}
          <li data-tab='{{ tab.code }}' class="{% if tabCounter == 0%} is-active {% endif %}"><a>{{ tab.name }}</a></li>
          {% assign tabCounter = tabCounter + 1 | plus:1 %}
          {% endfor %}
        </ul>
      </div>
    </nav>
    {% endif %}
  </div>
</header>