<!DOCTYPE html>
<html>

{% include head.html %}


<body>
    {% case page.layout %}
    {% when 'blog' %}
    {% include header-blog.html %}
    {% else %}
    {% include header-default.html %}
    {% endcase %}
    
    <section class=section>
        <div class="container">
            <!-- <div class="columns is-centered">
            
            <div class="column is-7"> -->
            <div class="content">
                {{ content | inject_anchors }}
            </div>

            <!-- </div>
            {% if page.toc %}
            <aside class="column is-2">
                <div class="box" id="page_sidebar">
                    <div class="content">
                            <h5>TOC</h5>
                            {{ content | toc_only}}
                        </div>
                    </div>
            </aside>
            {% endif %}
        </div> -->
        </div>
    </section>

    {% include footer-default.html %}

</body>


</html>